.nft_detail_line {
  height: 1px;
  width: 100%;
  background-color: rgb(51, 45, 45);
}

.right_neft_detail {
  flex: 3;
  display: flex;
  align-items: start;
  justify-content: start;
}
.left_nft_detail {
  display: flex;
  align-items: start;
  justify-content: start;
  flex: 1;
}
.left_nft_detail_rounded_div {
  background: linear-gradient(to right, #3498db, #e74c3c);
}
