.nft {
  padding-top: 90px;
}
@media (max-width: 768px) {
  .nft {
    padding-top: 70px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .nft {
    padding-top: 80px;
  }
}
.nft .addcontainer {
  max-width: 1280px;
  margin: auto;
}
.nft .addcontainer .nft-inner {
  max-width: 300px;
  margin: -45px auto 0 auto;
  /* SKILL 2 */
  /* SKILL 3 */
}
@media (max-width: 768px) {
  .nft .addcontainer .nft-inner {
    margin-top: -30px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .nft .addcontainer .nft-inner {
    margin-top: -35px;
  }
}
.nft .addcontainer .nft-inner h2 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #ff6900;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .nft .addcontainer .nft-inner h2 {
    font-size: 20px;
    margin-bottom: 2rem;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .nft .addcontainer .nft-inner h2 {
    font-size: 26px;
    margin-bottom: 40px;
  }
}
.nft .addcontainer .nft-inner .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-width: 250px;
  height: 300px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  color: black;
  transition: 0.3s;
  border: 1px solid #898989;
}
.nft .addcontainer .nft-inner .box .image {
  width: 135px;
  height: 134px;
  background-color: rgba(255, 105, 0, 0.25);
  backface-visibility: 25%;
  border-radius: 13px;
}
.nft .addcontainer .nft-inner .box .pitbull-footer {
  width: 135px;
  display: flex;
  justify-content: space-between;
}
.nft .addcontainer .nft-inner .box .pitbull-footer p {
  font-size: 16px;
}
.nft .addcontainer .nft-inner .star-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: #ffb72b;
  margin: 20px 0;
}
@media (max-width: 768px) {
  .nft .addcontainer .nft-inner .star-icon {
    font-size: 16px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .nft .addcontainer .nft-inner .star-icon {
    font-size: 20px;
  }
}
.nft .addcontainer .nft-inner .opportunities {
  font-weight: 600;
  color: #959595;
}
.nft .addcontainer .nft-inner .opportunities p {
  width: 40%;
}
.nft .addcontainer .nft-inner .opportunities h5 {
  color: #ff6900;
}
.nft .addcontainer .nft-inner .sell-select-btn {
  margin: 50px 0;
  max-width: 327px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nft .addcontainer .nft-inner .sell-select-btn button {
  width: 100%;
  padding: 10px 0;
  border: #ff6900 3px solid;
  border-radius: 8px;
  color: #ff6900;
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0;
  transition: all ease 0.2s;
}
@media (max-width: 768px) {
  .nft .addcontainer .nft-inner .sell-select-btn button {
    font-size: 16px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .nft .addcontainer .nft-inner .sell-select-btn button {
    font-size: 18px;
  }
}
.nft .addcontainer .nft-inner .sell-select-btn button:hover {
  background: #ff6900;
  color: #fff;
}
.nft .addcontainer .nft-inner .skill {
  position: relative;
  overflow-x: hidden;
}
.nft .addcontainer .nft-inner .skill:before {
  width: 90%;
  height: 5px;
  content: "";
  display: block;
  position: absolute;
  background: #cfcaca;
  bottom: 0;
  border-radius: 5px;
}
.nft .addcontainer .nft-inner .skill-bar {
  width: 100%;
  height: 5px;
  background: #ff6900;
  display: block;
  position: relative;
  border-radius: 5px;
}
.nft .addcontainer .nft-inner .skill-bar span {
  position: absolute;
  border-top: 5px solid #f4392f;
  top: -30px;
  padding: 0;
  font-size: 18px;
  padding: 3px 0;
  font-weight: 500;
}
.nft .addcontainer .nft-inner .skill-bar {
  position: relative;
}
.nft .addcontainer .nft-inner .skill1 .skill-count1 {
  right: 0;
}
.nft .addcontainer .nft-inner .skill2 {
  width: 60%;
}
.nft .addcontainer .nft-inner .skill2 .skill-count2 {
  right: 0;
}
.nft .addcontainer .nft-inner .skill3 {
  width: 80%;
  background: #ff6900;
}
.nft .addcontainer .nft-inner .skill4 {
  width: 50%;
  background: #ff6900;
}
.nft .addcontainer .nft-inner .skill5 {
  width: 40%;
  background: #ff6900;
}
.nft .addcontainer .nft-inner .skill6 {
  width: 30%;
  background: #ff6900;
}/*# sourceMappingURL=nft.css.map */