.setting {
  padding-top: 90px;
}
@media (max-width: 768px) {
  .setting {
    padding-top: 70px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .setting {
    padding-top: 80px;
  }
}
.setting .addcontainer {
  max-width: 1280px;
  margin: auto;
}
.setting .addcontainer .setting-inner .setting-left {
  max-width: 327px;
}
@media (max-width: 768px) {
  .setting .addcontainer .setting-inner .setting-left {
    margin: auto;
    max-width: 600px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .setting .addcontainer .setting-inner .setting-left {
    margin: 0 auto;
    max-width: 600px;
  }
}
.setting .addcontainer .setting-inner .setting-left .setting-left-navbar {
  margin-top: 48px;
}
@media (max-width: 768px) {
  .setting .addcontainer .setting-inner .setting-left .setting-left-navbar {
    margin-top: 10px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .setting .addcontainer .setting-inner .setting-left .setting-left-navbar .nav-item div {
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .setting .addcontainer .setting-inner .setting-left .setting-left-navbar .nav-item div {
    justify-content: space-between;
  }
}
.setting .addcontainer .setting-inner .setting-left .setting-left-navbar .nav-item h4 {
  width: 160px;
}
@media (max-width: 768px) {
  .setting .addcontainer .setting-inner .setting-left .setting-left-navbar .nav-item h4 {
    width: auto;
  }
}
@media (max-width: 768px) {
  .setting .addcontainer .setting-inner .setting-left .setting-left-navbar .nav-item {
    margin-top: 10px;
  }
}
.setting .addcontainer .setting-inner .setting-right {
  max-width: 600px;
}
@media (max-width: 768px) {
  .setting .addcontainer .setting-inner .setting-right {
    padding-top: 15px;
    margin: 0 auto;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .setting .addcontainer .setting-inner .setting-right {
    padding-top: 25px;
    margin: 0 auto;
  }
}
.setting .addcontainer .setting-inner .setting-right h2 {
  font-size: 30px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .setting .addcontainer .setting-inner .setting-right h2 {
    font-size: 20px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .setting .addcontainer .setting-inner .setting-right h2 {
    font-size: 25px;
  }
}
.setting .addcontainer .setting-inner .setting-right .main-setting {
  max-width: 327px;
  /* Rounded sliders */
}
@media (max-width: 768px) {
  .setting .addcontainer .setting-inner .setting-right .main-setting {
    margin: auto;
    max-width: 600px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .setting .addcontainer .setting-inner .setting-right .main-setting {
    margin: auto;
    max-width: 600px;
  }
}
.setting .addcontainer .setting-inner .setting-right .main-setting h4 {
  font-size: 16px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .setting .addcontainer .setting-inner .setting-right .main-setting p {
    font-size: 14px;
  }
}
.setting .addcontainer .setting-inner .setting-right .main-setting .flex {
  justify-content: space-between;
}
.setting .addcontainer .setting-inner .setting-right .main-setting .flex p {
  line-height: 1.2rem;
  color: #545454;
}
.setting .addcontainer .setting-inner .setting-right .main-setting button {
  padding: 16px 40px;
  background: #FF6900;
  border-radius: 8px;
  margin-top: 50px;
}
@media (max-width: 768px) {
  .setting .addcontainer .setting-inner .setting-right .main-setting button {
    margin-top: 20px;
    padding: 10px 20px;
  }
}
.setting .addcontainer .setting-inner .setting-right .main-setting .switch {
  position: relative;
  display: inline-block;
  height: 17px;
}
.setting .addcontainer .setting-inner .setting-right .main-setting .switch input {
  opacity: 0;
  width: 30px;
  height: 0;
}
.setting .addcontainer .setting-inner .setting-right .main-setting .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.setting .addcontainer .setting-inner .setting-right .main-setting .slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
.setting .addcontainer .setting-inner .setting-right .main-setting input:checked + .slider {
  background-color: #2196F3;
}
.setting .addcontainer .setting-inner .setting-right .main-setting input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.setting .addcontainer .setting-inner .setting-right .main-setting input:checked + .slider:before {
  transform: translateX(12px);
}
.setting .addcontainer .setting-inner .setting-right .main-setting .slider.round {
  border-radius: 34px;
}
.setting .addcontainer .setting-inner .setting-right .main-setting .slider.round:before {
  border-radius: 50%;
}
@media (min-width: 769px) and (max-width: 1023px) {
  .setting .addcontainer .setting-inner .setting-right .setting-about {
    margin-top: 40px;
  }
}
.setting .addcontainer .setting-inner .setting-right .setting-about div {
  margin: 40px 0;
}
@media (max-width: 768px) {
  .setting .addcontainer .setting-inner .setting-right .setting-about div {
    margin: 20px 0;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .setting .addcontainer .setting-inner .setting-right .setting-about div {
    margin: 30px 0;
  }
}
.setting .addcontainer .setting-inner .setting-right .setting-about div h4 {
  font-size: 22px;
  font-weight: 700;
  color: #111111;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .setting .addcontainer .setting-inner .setting-right .setting-about div h4 {
    font-size: 18px;
    margin-bottom: 6px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .setting .addcontainer .setting-inner .setting-right .setting-about div h4 {
    font-size: 20px;
    margin-bottom: 8px;
  }
}
.setting .addcontainer .setting-inner .setting-right .setting-about div p {
  line-height: 1.2rem;
  color: #6c6767;
}
@media (max-width: 768px) {
  .setting .addcontainer .setting-inner .setting-right .setting-about div p {
    font-size: 14px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .setting .addcontainer .setting-inner .setting-right .setting-about div p {
    font-size: 16px;
  }
}
.setting .addcontainer .setting-inner .setting-right .setting-terms h4 {
  font-weight: 700;
  font-size: 22px;
}
@media (max-width: 768px) {
  .setting .addcontainer .setting-inner .setting-right .setting-terms h4 {
    font-size: 18px;
  }
}
.setting .addcontainer .setting-inner .setting-right .setting-terms p {
  line-height: 1.2rem;
  color: #6c6969;
}
@media (max-width: 768px) {
  .setting .addcontainer .setting-inner .setting-right .setting-terms p {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .setting .addcontainer .setting-inner .setting-right .setting-privacy {
    margin-top: 20px;
  }
}
.setting .addcontainer .setting-inner .setting-right .setting-privacy .search-bar {
  max-width: 327px;
}
@media (min-width: 769px) and (max-width: 1023px) {
  .setting .addcontainer .setting-inner .setting-right .setting-privacy .search-bar {
    max-width: 600px;
  }
}
.setting .addcontainer .setting-inner .setting-right .setting-privacy .search-bar input {
  border: 2px solid #7A7A7A;
  border-radius: 8px;
}
.setting .addcontainer .setting-inner .setting-right .setting-privacy p {
  line-height: 1.2rem;
}
@media (max-width: 768px) {
  .setting .addcontainer .setting-inner .setting-right .setting-privacy p {
    font-size: 14px;
    margin-top: 10px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .setting .addcontainer .setting-inner .setting-right .setting-support .support-hero img {
    margin: auto;
  }
}
.setting .addcontainer .setting-inner .setting-right .setting-support .support-hero .details {
  max-width: 400px;
  margin: auto;
}
@media (max-width: 768px) {
  .setting .addcontainer .setting-inner .setting-right .setting-support .support-hero .details {
    max-width: 300px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .setting .addcontainer .setting-inner .setting-right .setting-support .support-hero .details {
    max-width: 327px;
  }
}
.setting .addcontainer .setting-inner .setting-right .setting-support .support-hero .details h3 {
  font-weight: 700;
  font-size: 24px;
  color: #FF6900;
}
@media (max-width: 768px) {
  .setting .addcontainer .setting-inner .setting-right .setting-support .support-hero .details h3 {
    font-size: 18px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .setting .addcontainer .setting-inner .setting-right .setting-support .support-hero .details h3 {
    font-size: 22px;
  }
}
.setting .addcontainer .setting-inner .setting-right .setting-support .support-hero .details p {
  line-height: 1.2rem;
}
@media (max-width: 768px) {
  .setting .addcontainer .setting-inner .setting-right .setting-support .support-hero .details p {
    font-size: 14px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .setting .addcontainer .setting-inner .setting-right .setting-support .support-hero .details p {
    font-size: 16px;
  }
}
.setting .addcontainer .setting-inner .setting-right .setting-support .support-btn {
  gap: 10px;
}
.setting .addcontainer .setting-inner .setting-right .setting-support .support-btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px auto;
  border: 1px solid #252525;
  padding: 15px 0;
  border-radius: 8px;
  transition: all ease 0.2s;
  width: 100%;
}
@media (max-width: 768px) {
  .setting .addcontainer .setting-inner .setting-right .setting-support .support-btn button {
    margin: 15px auto;
    max-width: 327px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .setting .addcontainer .setting-inner .setting-right .setting-support .support-btn button {
    margin: 15px auto;
    max-width: 327px;
  }
}
@media (min-width: 1025px) and (max-width: 1366px) {
  .setting .addcontainer .setting-inner .setting-right .setting-support .support-btn button {
    margin: auto;
    max-width: 327px;
  }
}
.setting .addcontainer .setting-inner .setting-right .setting-support .support-btn button:hover {
  color: white;
  background: #FF6900;
}/*# sourceMappingURL=setting.css.map */