@import "../responsive.scss";

.tasks {
  padding-top: 90px;

  @include tablet {
    padding-top: 80px;
  }

  @include mobile {
    padding-top: 70px;
  }

  .addcontainer {
    max-width: 1280px;
    margin: auto;

    .tasks-inner {
      .tasks-left {
        @include mobile {
          max-width: 600px;
        }

        @include tablet {
          max-width: 600px;
        }

        .tasks-navbar {
          color: #898989;

          @include tablet {
            margin-top: 20px;
          }

          @include mobile {
            margin-top: 20px;
          }

          .flex {
            border: 1px solid #898989;
            margin: 7px 0;
            padding: 10px 7px;

            svg {
              font-size: 26px;

              @include mobile {
                font-size: 16px;
              }

              @include tablet {
                font-size: 24px;
              }
            }

            button {
              font-size: 24px;
              font-weight: 700;

              @include mobile {
                font-size: 16px;
              }

              @include tablet {
                font-size: 22px;
              }
            }
          }

          .flex:hover {
            background-color: #fee4d1;

            button {
              color: #ff6900;
            }

            svg {
              color: #ff6900;
            }
          }
        }
      }

      .tasks-right {
        max-width: 466px;

        @include mobile {
          max-width: 600px;
        }

        @include tablet {
          max-width: 600px;
        }

        h2 {
          font-size: 30px;
          font-weight: 700;
          margin-top: 20px;
          color: #ff6900;

          @include tablet {
            font-size: 25px;
          }

          @include mobile {
            font-size: 20px;
            margin-top: 10px;
            margin-bottom: 2rem;
          }
        }

        .box {
          border: 1px solid #9c9c9c;
          border-radius: 16px;
          margin-bottom: 15px;

          svg {
            font-size: 20px;
          }

          h1 {
            font-size: 20px;
            font-weight: 700;

            @include mobile {
              font-size: 16px;
            }
          }

          p {
            font-size: 20px;
            font-weight: 400;
            color: rgba(88, 85, 85, 0.6);

            @include mobile {
              font-size: 16px;
            }
          }

          .color {
            width: 32px;
            height: 32px;
            border-radius: 50%;

            @include mobile {
              width: 25px;
              height: 25px;
            }

            @include tablet {
              width: 30px;
              height: 30px;
            }
          }

          .middle {
            justify-content: space-between;
            width: 70%;
          }
        }

        .add-task-btn {
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px 0;
            width: 100%;
            padding: 10px 20px;
            border: 1px solid #ff6900;
            border-radius: 5px;
            font-weight: 700;
            font-size: 16px;
            display: flex;
            flex-direction: column;
            color: #ff6900;
            transition: all ease 0.2s;

            @include mobile {
              font-size: 14px;
            }
          }

          a:hover {
            background: #ff6900;
            color: #fff;
          }
        }
      }
    }
  }
}
