@import '../responsive.scss';

.task-edit {
    padding-top: 90px;

    @include mobile {
        padding-top: 70px;
    }

    @include tablet {
        padding-top: 80px;
    }

    .addconatiner {
        max-width: 1280px;
        margin: auto;

        .task-edit-inner {
            margin-top: -43px;
            @include mobile {
                margin-top: -30px;
            }

            @include tablet {
                margin-top: -35px;
            }

            h2 {
                text-align: center;
                font-size: 30px;
                font-weight: 700;
                color: #FF6900;
                margin-bottom: 50px;

                @include mobile {
                    font-size: 20px;
                    margin-bottom: 2rem;
                }

                @include tablet {
                    font-size: 25px;
                }
            }

            form {
                max-width: 328px;
                margin: auto;

                input,
                textarea {
                    border: 2px solid #898989;
                    border-radius: 5px;
                    width: 100%;
                    padding: 10px 15px;
                    outline: none;

                    @include mobile {
                        padding: 5px 7px;
                        border: 1px solid #898989;
                    }

                    @include tablet {
                        padding: 7px 10px;
                    }
                }

                h4 {
                    font-size: 20px;
                    font-weight: 600;
                    margin: 10px 0;

                    @include mobile {
                        font-size: 16px;
                    }
                    @include tablet {
                        font-size: 18px;
                    }
                }

                p {
                    font-weight: 600;
                    margin: 15px 0 10px 0;
                }

                .task-lvl-btn {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    button {
                        padding: 10px 20px;
                        border: 1px solid #898989;
                        border-radius: 4px;
                        font-weight: 600;
                        transition: all ease .2s;

                        @include mobile {
                            padding: 7px 10px;
                        }
                    }

                    button:hover {
                        background: #FF6900;
                        color: #fff;
                    }
                }

                .submit-btn {
                    padding: 10px 20px;
                    background: #FF6900;
                    font-weight: 700;
                    font-size: 16px;
                    border-radius: 8px;
                    width: 100%;
                    color: #fff;
                    margin: 30px 0 60px 0;

                    @include mobile {
                        font-size: 14px;
                        margin: 15px 0 30px 0;
                        font-weight: 600;
                    }

                    @include tablet {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}