.statistics {
  padding-top: 90px;
}
@media (max-width: 768px) {
  .statistics {
    padding-top: 70px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .statistics {
    padding-top: 80px;
  }
}
.statistics .addcontainer {
  max-width: 1280px;
  margin: auto;
}
.statistics .addcontainer .statistics-title button {
  font-weight: 700;
}
.statistics .addcontainer .statistics-inner h2 {
  font-size: 30px;
  font-weight: 600;
  max-width: 328px;
  margin: auto;
  text-align: center;
  margin-top: -45px;
  color: #FF6900;
}
@media (max-width: 768px) {
  .statistics .addcontainer .statistics-inner h2 {
    font-size: 20px;
    margin-top: -30px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .statistics .addcontainer .statistics-inner h2 {
    font-size: 25px;
    margin-top: -33px;
  }
}
.statistics .addcontainer .statistics-inner .week-month-year-btn {
  max-width: 328px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .statistics .addcontainer .statistics-inner .week-month-year-btn {
    margin-bottom: 10px;
    margin-top: 2rem;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .statistics .addcontainer .statistics-inner .week-month-year-btn {
    margin-bottom: 10px;
  }
}
.statistics .addcontainer .statistics-inner .week-month-year-btn button {
  width: 100px;
  height: 52px;
  border-radius: 8px;
  border: 1px solid #898989;
  transition: 0.2s all ease;
}
@media (max-width: 768px) {
  .statistics .addcontainer .statistics-inner .week-month-year-btn button {
    height: 40px;
    width: 70px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .statistics .addcontainer .statistics-inner .week-month-year-btn button {
    height: 47px;
  }
}
.statistics .addcontainer .statistics-inner .week-month-year-btn button:hover {
  background-color: #FF6900;
  color: white;
}
.statistics .addcontainer .statistics-inner .weekly-summ {
  max-width: 327px;
  margin: 30px auto;
  border-radius: 8px;
  border: 1px solid #898989;
}
@media (max-width: 768px) {
  .statistics .addcontainer .statistics-inner .weekly-summ {
    max-width: 600px;
    margin: auto;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .statistics .addcontainer .statistics-inner .weekly-summ {
    margin-top: 0px;
  }
}
.statistics .addcontainer .statistics-inner .weekly-summ .summ-title {
  border-bottom: 1px solid #bfbcbc;
}
.statistics .addcontainer .statistics-inner .statistics-bar {
  max-width: 600px;
  margin: 60px auto;
  padding: 40px;
  border-radius: 10px;
  border: 1px solid #696969;
}
@media (max-width: 768px) {
  .statistics .addcontainer .statistics-inner .statistics-bar {
    margin: 30px auto;
    max-width: 100%;
    padding: 15px;
  }
}
@media (max-width: 250px) {
  .statistics .addcontainer .statistics-inner .statistics-bar {
    padding: 7px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .statistics .addcontainer .statistics-inner .statistics-bar {
    margin: auto;
  }
}
.statistics .addcontainer .statistics-inner .statistics-bar p,
.statistics .addcontainer .statistics-inner .statistics-bar span {
  letter-spacing: -1px;
}/*# sourceMappingURL=statistics.css.map */