@import "../responsive.scss";

.profile {
  width: 100%;
  .profile-edit-section {
    width: Hug (721px) px;
    height: Hug (1, 066px) px;
    top: 579px;
    left: 380px;
    gap: 25px;
    opacity: 0px;
  }
  .profile-edit-upload-button {
    background: #ff6900;
   
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: center;
  }
  .profile-edit-lable {
    //styleName: Text;
  
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: #ff6900;

    @include mobile {
      font-size: 18px;
    }
  }
  .profile-edit-input {
    min-width: 550px;
    // height: Fixed (20px) px;
    padding: 10px 15px 10px 15px;
    gap: 10px;
    // border-radius: 8px 0px 0px 0px;
    // border: 3px 0px 0px 0px;
    opacity: 0px;
    border: 3px solid #2f2f2f59;
    //styleName: Text;
  
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #2f2f2f;

    @include tablet {
      // max-width: 500px;
      font-size: 18px;
      font-weight: 600px;
      width: 100%;
    }
    @include mobile {
      width: 100%;
      // max-width: 450px;
      font-size: 18px;
      font-weight: 600px;
      padding: 10px 4px 10px 4px;
    }
  }

  .profile-edit-button-submit {
    min-width: 550px;
    top: 677px;
    left: 391px;
    gap: 50px;
    opacity: 0px;
    background: #ff6900;
    border: 1px solid #ff6900;

    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: center;
    @include tablet {
      // min-width: 400px;
      font-size: 18px;
    }
    @include mobile {
      width: 100%;
      min-width: 420px;
      font-size: 18px;
    }
  }
}

.max-width1 {
  max-width: max-content;
  margin-left: 300px;
  min-width: 700px;

  @include tablet {
    max-width: 100%;
    margin-left: 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  @include mobile {
    max-width: 600px;
    max-width: 100%;

    margin-left: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
