@import "../responsive.scss";

.profile {
  width: 100%;
  .profile-edit-section {
    width: Hug (721px) px;
    height: Hug (1, 066px) px;
    top: 579px;
    left: 380px;
    gap: 25px;
    opacity: 0px;
  }
  .profile-edit-upload-button {
    background: #ff6900;
    font-family: Urbanist;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: center;
  }
  .profile-edit-lable {
    //styleName: Text;
    font-family: Urbanist;
    font-size: 30px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: #808080;

    @include mobile {
      font-size: 20px;
    }
  }
  .profile-edit-input {
    min-width: 500px;
    // height: Fixed (20px) px;
    padding: 10px 15px 10px 15px;
    gap: 10px;
    // border-radius: 8px 0px 0px 0px;
    // border: 3px 0px 0px 0px;
    opacity: 0px;
    border: 3px solid #2f2f2f59;
    //styleName: Text;
    font-family: Urbanist;
    font-size: 26px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #2f2f2f;

    @include mobile {
      font-size: 18px;
      font-weight: 550;
      max-width: 300px;
      min-width: 300px;
    }
    @include tablet {
      max-width: 300px;
    }
  }
  .profile-edit-button-submit {
    width: 500px;
    top: 1705px;
    left: 380px;
    gap: 10px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: #ff6900;
    @include tablet {
      max-width: 400px;
    }
    @include mobile {
      max-width: 300px;
    }
  }
}

.max-width1 {
  max-width: max-content;
  margin-left: 300px;
  min-width: 700px;

  @include tablet {
    max-width: 100%;
    margin-left: 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  @include mobile {
    max-width: 600px;
    max-width: 100%;

    margin-left: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
