@import "../responsive.scss";

.home-section {
  .addcontainer {
    padding-top: 90px;

    @include mobile {
      padding-top: 80px;
    }

    @include tablet {
      padding-top: 80px;
    }

    .home-inner {
      max-width: 350px;
      margin: auto;

      .first-box {
        padding: 13px;

        border-radius: 16px;
        border: 1.5px solid rgba(164, 164, 164, 1);

        .skill {
          p {
            font-weight: 600;
          }
        }

        p {
          color: #ff6900;
        }

        h4 {
          font-size: 20px;
          font-weight: 500;
        }

        .containerr {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          align-items: center;

          .progress {
            width: 200px;
            height: 200px;
            font-size: 30px;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            text-align: center;
            line-height: 200px;
            transform: rotate(272deg);
            margin: 20px;
            box-shadow: 2px 2px 2px 2px white;

            @include mobile {
              width: 120px;
              height: 120px;
            }
            @include tablet {
              width: 170px;
              height: 170px;
            }
          }
          .progress .title {
            position: relative;
            z-index: 12;
          }
          .progress .overlay {
            width: 50%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
          }
          .progress .left,
          .progress .right {
            width: 50%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border: 10px solid #ff6900;
            border-radius: 100px 0px 0px 100px;
            border-right: 0;
            transform-origin: right;
          }
          .progress .left {
            animation: load1 0s linear forwards;
          }
          @keyframes load1 {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(175deg);
            }
          }
        }
      }

      .play-move-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        .mid {
          width: 50px;
          height: 50px;

          @include mobile {
            width: 40px;
            height: 40px;
          }
        }

        button {
          border-radius: 10px;
          background: #ff6900;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;

          svg {
            font-size: 23px;
            color: white;

            @include mobile {
              font-size: 17px;
            }
            @include tablet {
              font-size: 20px;
            }
          }
        }
      }
    }

    .skill {
      margin-bottom: 20px;
      position: relative;
      overflow-x: hidden;
    }

    .skill:before {
      width: 100%;
      height: 5px;
      content: "";
      display: block;
      position: absolute;
      background: #959595;
      bottom: 0;
      border-radius: 5px;
    }

    .skill-bar {
      width: 100%;
      height: 5px;
      background: #4cb54a;
      display: block;
      position: relative;
      border-radius: 5px;
    }

    .skill-bar span {
      position: absolute;
      border-top: 5px solid #f4392f;
      top: -30px;
      padding: 0;
      font-size: 18px;
      padding: 3px 0;
      font-weight: 500;
    }

    .skill-bar {
      position: relative;
    }

    .skill1 .skill-count1 {
      right: 0;
    }

    /* SKILL 2 */
    .skill2 {
      width: 60%;
    }

    .skill2 .skill-count2 {
      right: 0;
    }

    /* SKILL 3 */
    .skill3 {
      width: 80%;
      background: #5c6cff;
    }
  }
}
