.connect-wallet {
  width: 100%;
  background: url("../../assets/wallet/pexels-moose-photos-1037915 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
@media (max-width: 768px) {
  .connect-wallet {
    height: auto;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .connect-wallet {
    height: auto;
  }
}
.connect-wallet .addcontainer {
  max-width: 1280px;
  margin: auto;
}
.connect-wallet .addcontainer .connect-wallet-inner {
  justify-content: space-between;
}
@media (min-width: 769px) and (max-width: 1023px) {
  .connect-wallet .addcontainer .connect-wallet-inner {
    display: block;
  }
}
@media (max-width: 768px) {
  .connect-wallet .addcontainer .connect-wallet-inner .connect-wallet-left {
    max-width: 327px;
    margin: auto;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .connect-wallet .addcontainer .connect-wallet-inner .connect-wallet-left {
    max-width: 1000px;
    margin: auto;
  }
}
.connect-wallet .addcontainer .connect-wallet-inner .connect-wallet-left .logo {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .connect-wallet .addcontainer .connect-wallet-inner .connect-wallet-left .logo {
    padding: 10px 0;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .connect-wallet .addcontainer .connect-wallet-inner .connect-wallet-left .logo {
    padding: 40px 0;
  }
}
@media (max-width: 768px) {
  .connect-wallet .addcontainer .connect-wallet-inner .connect-wallet-left .logo img {
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .connect-wallet .addcontainer .connect-wallet-inner .connect-wallet-left .logo img {
    width: 90px;
    height: 90px;
  }
}
.connect-wallet .addcontainer .connect-wallet-inner .connect-wallet-left .logo h3 {
  font-size: 26px;
  font-weight: 700;
  color: white;
}
@media (max-width: 768px) {
  .connect-wallet .addcontainer .connect-wallet-inner .connect-wallet-left .logo h3 {
    font-size: 22px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .connect-wallet .addcontainer .connect-wallet-inner .connect-wallet-left .logo h3 {
    font-size: 25px;
  }
}
.connect-wallet .addcontainer .connect-wallet-inner .connect-wallet-left .text-box {
  background: rgba(0, 0, 0, 0.4);
  margin: 30px 0 20px 0;
  max-width: 600px;
}
@media (max-width: 768px) {
  .connect-wallet .addcontainer .connect-wallet-inner .connect-wallet-left .text-box {
    margin-top: 10px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .connect-wallet .addcontainer .connect-wallet-inner .connect-wallet-left .text-box {
    margin-top: 10px;
    max-width: 1000px;
  }
}
.connect-wallet .addcontainer .connect-wallet-inner .connect-wallet-left .text-box h2 {
  color: #FF6900;
  font-size: 38px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .connect-wallet .addcontainer .connect-wallet-inner .connect-wallet-left .text-box h2 {
    font-size: 22px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .connect-wallet .addcontainer .connect-wallet-inner .connect-wallet-left .text-box h2 {
    font-size: 30px;
  }
}
.connect-wallet .addcontainer .connect-wallet-inner .connect-wallet-left .text-box p {
  font-size: 19px;
  color: #fff;
  margin: 18px 0;
  line-height: 1.2;
}
@media (max-width: 768px) {
  .connect-wallet .addcontainer .connect-wallet-inner .connect-wallet-left .text-box p {
    font-size: 14px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .connect-wallet .addcontainer .connect-wallet-inner .connect-wallet-left .text-box p {
    font-size: 16.5px;
  }
}
.connect-wallet .addcontainer .connect-wallet-inner .connect-wallet-left .text-box p a {
  color: #FF6900;
  text-decoration: underline;
  margin: 0 5px;
}
.connect-wallet .addcontainer .connect-wallet-inner .connect-wallet-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  max-width: 327px;
}
@media (max-width: 768px) {
  .connect-wallet .addcontainer .connect-wallet-inner .connect-wallet-right {
    margin: auto;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .connect-wallet .addcontainer .connect-wallet-inner .connect-wallet-right {
    max-width: 1000px;
    margin: auto;
  }
}
.connect-wallet .addcontainer .connect-wallet-inner .connect-wallet-right a {
  background: #D9D9D9;
  margin-bottom: 15px;
  border-radius: 8px;
  transition: all ease 0.2s;
  border: 2px solid transparent;
  font-weight: 600;
  width: 100%;
}
@media (max-width: 768px) {
  .connect-wallet .addcontainer .connect-wallet-inner .connect-wallet-right a {
    margin-bottom: 25px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .connect-wallet .addcontainer .connect-wallet-inner .connect-wallet-right a {
    max-width: 100%;
  }
}
.connect-wallet .addcontainer .connect-wallet-inner .connect-wallet-right a:hover {
  border: 2px solid #D9D9D9;
  background: #FF6900;
  color: white;
}
.connect-wallet .addcontainer .connect-wallet-inner .connect-wallet-right button {
  display: flex;
  align-items: center;
  padding: 20px 20px;
  border-radius: 5px;
  gap: 20px;
}
.connect-wallet .addcontainer .connect-wallet-footer {
  max-width: 400px;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  color: white;
  margin: auto;
}
@media (max-width: 768px) {
  .connect-wallet .addcontainer .connect-wallet-footer {
    font-size: 13px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .connect-wallet .addcontainer .connect-wallet-footer {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .connect-wallet .addcontainer .connect-wallet-footer {
    margin-top: 60px;
  }
}/*# sourceMappingURL=connect-wallet.css.map */