@import "../responsive.scss";

.profile {
  width: 100%;
  .profile-username {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: #2f2f2f;
    @include mobile {
      font-size: 18px;
      font-weight: 600;
    }
  }
  .profile-about {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;

    color: #ff6900;
    @include mobile {
      font-size: 18px;
      font-weight: 600;
    }
  }
  .profile-account-details {
    width: Fixed (805px) px;
    height: Hug (844px) px;
    top: 582px;
    left: 394px;
    gap: 30px;
    opacity: 0px;

    .profile-account-detail-header {
      width: Fill (805px) px;
      height: Fixed (100px) px;
      // padding: 15px 0px 0px 0px;
      gap: 0px;
      opacity: 0px;

      background: #ffd9bf;
    }
    .profile-account-detail-header-text {
      font-size: 18px;
      font-weight: 700;
      line-height: 2px;
      text-align: center;
      color: #2f2f2f;

      @include mobile {
        font-size: 18px;
        font-weight: 600;
      }
    }
    .profile-edit-button {
      width: Hug (133px) px;
      //   height: Fixed (48px) px;
      padding: 10px 18px 10px 18px;
      gap: 12px;
      opacity: 0px;
      box-shadow: 0px 1px 0px 0px #00000040;
      background: #ff6900;

      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: -0.02em;
      text-align: center;
      color: #ffffff;
      @include mobile {
        font-size: 18px;
        font-weight: 600;
      }
    }
    .profile-item-label {
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;

      color: #ff6900;
      @include mobile {
        font-size: 18px;
        font-weight: 600;
      }
    }
    .profile-item-value {
      //styleName: Text;

      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      //   text-align: center;
      color: #2f2f2f;
      @include mobile {
        font-size: 18px;
        font-weight: 600;
      }
    }
    .profile-items-detail {
      width: Fill (805px) px;
      height: Hug (714px) px;
      padding: 0px 0px 10px 0px;
      // gap: 26px;
      border: 0px 0px 2px 0px;
      opacity: 0px;
      padding-bottom: 50px;
      @include mobile {
        gap: 10px;
      }
    }
  }
}

.max-width1 {
  max-width: max-content;
  margin-left: 300px;
  min-width: 700px;

  @include tablet {
    max-width: 100%;
    margin-left: 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  @include mobile {
    max-width: 600px;
    max-width: 100%;

    margin-left: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
