@import './responsive.scss';

nav {
    .navbar {
        max-width: 1280px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {

            img {
                @include mobile {
                    width: 50px;
                    height: 50px;
                }
            }

            p {
                font-size: 26px;
                font-weight: 700;
            }
        }

        .pages {
            justify-content: center;

            a {
                button {
                    font-weight: 400;
                    margin: 0 10px;
                    font-size: 26px;

                    @include mobile {
                        font-size: 18px;
                        margin: 0 2px;
                    }

                    @include tablet {
                        font-size: 23px;
                        margin: 0 5px;
                    }
                }
            }
        }

        .profile-setting {
            display: flex;
            align-items: center;
            gap: 30px;

            @include mobile {
                gap: 12px;
            }

            @include tablet {
                gap: 20px;
            }

            a {
                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    svg {
                        font-size: 30px;

                        @include mobile {
                            font-size: 25px;
                        }
                    }
                }
            }
        }

    }
}

.mobile-navbar {
    font-size: 20px;
}

.user-icon {
    padding: 10px 30px;
    border-radius: 8px;
    background-color: #FF6900;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 2px 0;

    @include mobile {
        padding: 5px 20px;
    }
}