@import "../responsive.scss";
.activity {
  width: 100%;
  .activity-header {
    width: Fixed (795px) px;
    height: Hug (64px) px;
    padding: 10px 0px 10px 0px;
    gap: 120px;
    border: 0px 0px 1.5px 0px;
    opacity: 0px;
    background: #ffd9bf;
    border-bottom: 1.5px solid #ff6900;
  }
  .timestamp {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #2f2f2f;

    @include mobile {
      font-size: 18px;
    }
  }
  .activity-body {
    width: Fixed (793px) px;
    height: Hug (54px) px;
    padding: 10px 0px 0px 0px;
    gap: 110px;
    border: 0px 0px 1.5px 0px;
    opacity: 0px;
    border-bottom: 1.5px solid #2f2f2f59;
  }
  .activity-body-span {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #2f2f2f;
    padding: 8px;

    @include mobile {
      font-size: 18px;
    }
  }
  .activity-line {
    width: Fixed (801px) px;
    height: Hug (54px) px;
    padding: 10px 0px 0px 0px;
    gap: 110px;
    border: 0px 0px 1.5px 0px;
    opacity: 0px;
    border-bottom: 1.5px solid #2f2f2f59;
  }
}

.max-width1 {
  max-width: max-content;
  min-width: 600px;

  @include tablet {
    max-width: 600px;
    min-width: 400px;
  }

  @include mobile {
    max-width: 600px;
    min-width: 400px;
  }
}
